/* navbar */
.navbar {
  background-color: #fff;
  height: 80px;

  color: #000000;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link,
.dropdown-item,
.dropdown-divider {
  color: #000;
  font-weight: 500;
  position: relative;
}

.show {
  background: #fff;
}
.nav-link:hover,
.nav-link.active {
  color: #548ac7;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #548ac7;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

#hero {
  margin-top: 50px;
  width: 100% !important;
  height: 100vh !important;
  background: url("./images/herobg3.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
#hero .my-profile {
  width: 500px;
}
@media (max-width: 769px) {
  #hero .my-profile {
    margin-top: 100px;
    height: auto;
    width: 100%;
  }
}
#hero h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

#hero p {
  color: #000000;
  margin: 15px 0 15px 0;
  font-size: 40px;
  font-weight: 500;
}

#hero p span {
  color: #0563bb;
  letter-spacing: 1px;
  font-size: 30px;
}
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/* about */
.about {
  padding: 80px 0 20px 0;
}
.about .image {
  background: url("./images/about.jpeg") center center no-repeat;
  background-size: cover;
  min-height: 200px;
}
.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
/* Resume section */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3b434a;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d6efd;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
}
.resume .resume-item svg {
  margin: 50px;
  margin-bottom: 30px;
}
#hobbies {
  display: flex;
}
@media (max-width: 426px) {
  #hobbies {
    display: block;
  }
}
#hob1 p {
  margin-left: 45px;
  font-weight: 700;
}
#hob2 p {
  margin-left: 50px;
  font-weight: 700;
}
#hob3 p {
  margin-left: 50px;
  font-weight: 700;
}
#hob4 p {
  margin-left: 50px;
  font-weight: 700;
}

.resume #download {
  font-size: 17px;
  background: #eef0f27c;
  padding: 5px 15px;
  font-weight: 500;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}
#resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* skills */
.skills .progress {
  display: block;
  height: 50px;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  font-weight: 600;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #45505b;
  display: block;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background-color: #f2f3f5;
}
.skills .progress-bar {
  background-color: #0d6dfdc8;
  height: 12px;
  border-radius: 8px;
  margin: 10px 10px 10px 0;
}
.skills .progress-bar.bar1 {
  width: 25%;
}
.skills .progress-bar.bar2 {
  width: 75%;
}
.skills .progress-bar.bar3 {
  width: 50%;
}
.skills .progress-bar.bar4 {
  width: 50%;
}
.skills .progress-bar.bar5 {
  width: 40%;
}
.skills .progress-bar.bar6 {
  width: 50%;
}
.skills .progress-bar.bar7 {
  width: 25%;
}
/* contact me */
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #0d6dfdc8;
  border-radius: 50%;
  padding: 15px;
  background: #fff6e4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #687683;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #dde1e4;
}

.contact .social-links a:hover {
  color: #fff;
  border-color: #0d6dfdc8;
  background: #0d6dfdc8;
}
/* preloader */
#preloader {
  background: #fff url(./images/loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
